---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Services from '../components/Services.astro';
import Contacto from '../components/Contacto.astro'
import FAQ from '../components/FAQ.astro'
import Process from '../components/Process.astro'

;
// Aquí importaremos Services, Portfolio, etc. más adelante
---

<Layout title="Surcode | Desarrollo Web & Software a Medida">
       
	<main class="relative z-10">
        <Hero />
        <Services />
        <FAQ />
        <Process />
        <Contacto />
	</main>
</Layout>