---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Services from '../components/Services.astro';
import Contacto from '../components/Contacto.astro'
import FAQ from '../components/FAQ.astro'
import Footer from '../components/Footer.astro'
;
// Aquí importaremos Services, Portfolio, etc. más adelante
---

<Layout title="Surcode | Desarrollo Web & Software a Medida">
	<main>
        <Hero />
        <Services />
        <FAQ />
        <Contacto />
        <Footer />

        
        <!-- Aquí añadiremos más secciones como Portfolio, Testimonials, Contact, etc. -->
	</main>
</Layout>