---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Services from '../components/Services.astro';
import Ley21719 from '../components/Ley21719.astro';

import FAQ from '../components/FAQ.astro'
import Testimonials from '../components/Testimonios.astro'

;
// Aquí importaremos Services, Portfolio, etc. más adelante
---

<Layout title="Surcode | Desarrollo Web & Software a Medida">
       
	<main class="relative z-10">
        <Hero />
        <Ley21719 />
        <Services />
        <Testimonials />
        <FAQ />
      
      
	</main>
</Layout>