---
import Footer from '../components/Footer.astro';
import Navbar from '../components/Navbar.astro';


interface Props {
	title: string;
    description?: string;
}

const { title, description = "Desarrollo web y soluciones digitales a medida." } = Astro.props;

---

<!doctype html>
<html lang="es" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-slate-900 text-slate-50 antialiased selection:bg-blue-500 selection:text-white">
        <slot />
		<Navbar />
	
		<Footer />

    <script>
      import Lenis from 'lenis';

      // Inicializar Lenis
      const lenis = new Lenis({
        duration: 1.2, // Cuánto tarda en frenar (mientras más alto, más "pesado")
        easing: (t) => Math.min(1, 1.001 - Math.pow(2, -10 * t)), // Curva de suavidad
        direction: 'vertical',
        gestureDirection: 'vertical',
        smooth: true,
        mouseMultiplier: 1,
        smoothTouch: false,
        touchMultiplier: 2,
      });

      // Conectar Lenis al loop de animación del navegador
      function raf(time) {
        lenis.raf(time);
        requestAnimationFrame(raf);
      }

      requestAnimationFrame(raf);
    </script>
  </body>
</html>

<style is:global>
    /* Estilos globales si los necesitas */
	body {
		font-family: system-ui, -apple-system, sans-serif;
	}
</style>